body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-basic {
  text-align: center;
  line-height: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: none !important;
  padding: 11px 18px 11px;
  cursor: pointer;
  background-color: white;
  margin: 7px;
  border: 2px solid #043B91;
  height: 150px;
  width: 200px;
  z-index: 5;
}
.cad-buttons-home{
  display:flex;
  flex-direction: column;
  background: white;
  padding-top: 25px;
}
.cad-buttons{
  display:flex;
  flex-direction: column;
  background: white;
  padding-top: 25px;
  width: 260px;
}
.ame-image-1{
  width:350px
}
.ame-image-2{
  width:100px
}
.miteebite{
  width:250px
}
.triag{
  width:150px
}
.trinity{
  width:290px
}
.home-images{
  width:130px
}
.fifth-axis{
  width:200px
}
.schunk{
  width:270px
}
.amrok{
  width:200px
}
.divider{
  font-size: 50px;
  color: white;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.iframe-viewer{
  display: flex;
  justify-content: center;
  align-items: end;
}
.view-container{
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-bottom: 10px;
}
.view-container-home{
  display: flex;
  justify-content: center;
  padding-bottom: 110px;
  padding-top: 90px;
}
.navbar{
  background-image: linear-gradient(black, #13184f);
  display:flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.footer{
  background-image: linear-gradient(to right, rgb(255, 204, 0) , rgb(255, 123, 0));
  display:flex;
  justify-content: center;
}
.footer-button{
  border: 2px solid #13184f;
  color: #13184f;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  margin: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.row{
  display: flex;
  flex-direction: row;
}
.menu {
  position: absolute;
  height: 145px;
  top: 190px;
  left: 260px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  width: 280px;
  box-sizing: border-box;
  transition: all 250ms;
  transform: translateZ(0) translateX(-100%);
  text-align: center;
  z-index: -1;
}
.menu2 {
  position: absolute;
  height: 145px;
  top: 345px;
  left: 260px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  width: 280px;
  box-sizing: border-box;
  transition: all 250ms;
  transform: translateZ(0) translateX(-100%);
  text-align: center;
  z-index: -1;
}
.menu3 {
  position: absolute;
  height: 145px;
  top: 510px;
  left: 260px;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  width: 280px;
  box-sizing: border-box;
  transition: all 250ms;
  transform: translateZ(0) translateX(-100%);
  text-align: center;
  z-index: -1;
}
.active {
  transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: black;
}
.overlay1{
  filter: brightness(0.8);
  z-index: 5;
}
.overlay2{
  filter: brightness(0.8);
  z-index: 1;
}
.overlay3{
  filter: brightness(0.8);
  z-index: 1;
}
.button-container1{
  margin: auto;
}
.button-container2{
  margin: auto;
}
.button-container3{
  margin: auto;
}